#nprogress .bar {
    background: #43e3e0;
}

#nprogress .peg {
    box-shadow: 0 0 10px #43e3e0, 0 0 5px #43e3e0;
}

#nprogress .spinner-icon {
    border-top-color: #43e3e0;
    border-left-color: #43e3e0;
}
